* {
  cursor: pointer;
}

.orders {
  float: right;
  display: inline-block;
  padding-right: 400px;
  font-family: 'Raleway', sans-serif;
}

.right {
  float: right;
  display: inline-block;
  padding-right: 400px;
}

h1 {
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
}

.display {
  font-family: 'Raleway', sans-serif;
}

#orders {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}

.cart {
  height: 100px;
  width: 100px;
  text-align: center;
}
